* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: rgb(25, 7, 67);
}
.container {
  width: 500px;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}
#mytext {
  resize: none;
  width: 100%;
  font-size: 17px;
  line-height: 19px;
  border: none;
  outline: none;
  background-color: rgb(25, 75, 201);
  color: rgb(255, 255, 255);
  padding: 29px;
}
#count {
  text-align: right;
  color: rgb(212, 242, 255);
}
